
<%= javascript_include_tag 'pivot_table/setting' %>
<div class="module-title">
  <h2 class='module-title-text'>SETTINGS</h2>
</div>

<section id="widget-grid" class="show_customer_account">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     setting: @setting,
                     wid_id: 'setting',
                     wid_title: ' '
                 } %>
    </article>
  </div>
</section>
