<section id="widget-grid" class="users_list">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     room: @room,
                     wid_id: 'rooms',
                     wid_title: 'New room'
                 } %>
    </article>
  </div>
</section>
