<aside id="left-panel">

  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <li>
        <a href="<%= rooms_path %>" id="ul_admin"><i class="fa fa-lg fa-fw fa-times-circle"></i> <span class="menu-item-parent">Rooms</span></a>
      </li>
    </ul>
  </nav>


			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>
