<aside id="left-panel">

  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <% Room.all.each do |room| %>
          <li>
            <a href="<%= room_path(room) %>" id="ul_admin"><i class="fa fa-lg fa-fw fa-fa-fw <%= room.icon || 'fa-square' %>"></i> <span class="menu-item-parent"><%= room.name %></span></a>
          </li>
      <% end %>
    </ul>
  </nav>


  <span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>
